@charset "utf-8";

.inner {
    width: 62.5%;
    /* background: rgba(255, 255, 0, 0.2); */
    margin: 0 auto;
}

.visual .video {
    width: 100%;
    height: 78.5rem;
    vertical-align: top;
    position: relative;
}
.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-title h3 {
    font-weight: 700;
    font-size: clamp(3.6rem, 5vw, 6.4rem);
    color: #fff;
}

.video-title p {
    color: var(--white70p);
}

.best {
    padding: 12.5rem 0 7.5rem;
}

.best-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12rem;
}
.best-list li {
    display: flex;
    justify-content: space-between;
}

.best-list li:nth-child(2) {
    flex-direction: row-reverse;
}

.best-list li figure {
    width: 45%;
    aspect-ratio: 1/1.1851;
    border-radius: var(--rds25);
    overflow: hidden;
}
.best-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best-list .best-menu {
    width: 50%;
    padding: 0 3.3333%;
}

.best-menu {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.best-menu dl {
    padding: 5% 0;
}

.best-menu dl dt {
    font-weight: 700;
    font-size: clamp(3rem, 3.5vw, 5.2rem);
    line-height: 1.2;
    color: #000;
    /* font-family: "EF_Rebecca"; */
}

.best-menu dl dt + dt {
    font-size: clamp(2rem, 1.5vw, 2.4rem);
    color: var(--main-color);
    line-height: 1.5;
}

.best-menu dl dd {
    margin-top: 3rem;
}

.shortcut {
    margin: 7.5rem auto 0;
    /* width: 80rem; */
    width: 41.6667%;
    display: flex;
    /* justify-content: center;
    gap: 16rem; */
    justify-content: space-between;
}

.shortcut li {
    /* width: 16rem; */
    width: clamp(12rem, 20%, 16rem);
    aspect-ratio: 1/1;
    border: 1px solid var(--main-color);
    border-radius: var(--rds50p);
    overflow: hidden;
}

.shortcut li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    height: 100%;

    font-weight: 600;
    font-size: clamp(1.4rem, 2vw, 2.2rem);

    color: var(--text-color);
}

.shortcut li a:hover {
    background: var(--main-color);
    color: #fff;
}

.shortcut li a::before {
    content: "";
    width: 5rem;
    width: 31.25%;
    aspect-ratio: 1;
    background: no-repeat 50% / cover;
    transition: 0.4s;
}

.shortcut-menu li:nth-child(1) a::before {
    background-image: url(../img/short-icon1.svg);
}
.shortcut-menu li:nth-child(2) a::before {
    background-image: url(../img/short-icon2.svg);
}
.shortcut-menu li:nth-child(3) a::before {
    background-image: url(../img/short-icon3.svg);
}

.shortcut-menu li:nth-child(1) a:hover::before {
    background-image: url(../img/w-short-icon1.svg);
}
.shortcut-menu li:nth-child(2) a:hover::before {
    background-image: url(../img/w-short-icon2.svg);
}
.shortcut-menu li:nth-child(3) a:hover::before {
    background-image: url(../img/w-short-icon3.svg);
}

.membership {
    padding: 7.5rem 0;
    /* background: rgba(0, 255, 255, 0.3); */
}

.membership-banner {
    max-width: 1920px;
    height: clamp(40rem, 31.25vw, 60rem);
    margin: 4rem auto;
    position: relative;
    background: url(../img/img-membership-bg.jpg) no-repeat 0 0 / cover;
}

.membership-con {
    width: 46.6rem;
    width: 24.2708%;
    aspect-ratio: 1;
    background: var(--white50p);
    border-radius: var(--rds50);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 4rem 2.0833%;
}

.membership-con h3 {
    font-weight: 700;
    font-size: 2.8rem;
    color: #000;
}
.membership-con h3 i {
    font-size: clamp(3.2rem, 3vw, 4.8rem);
    line-height: 1.5;
    color: #000;
}

.membership-con p {
    font-size: 2.2rem;
    margin-top: 6.9114%;
    color: var(--title-color);
}

.membership-con .btn {
    background: #000;
    color: #fff;
    border-radius: var(--rds50);
    margin-top: 17.2786%;
}

.membership-con a::before {
    content: "";
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../img/icon-plus.svg) no-repeat 50%;
}

.membership-con a:hover {
    background: var(--main-color);
}

.membership-con a:hover::before {
    background-image: url(../img/plus-hover.svg);
}

.membership-list {
    display: flex;
    flex-wrap: wrap;
    gap: min(2rem, 1vw);
}

.membership-list li {
    width: 23.66%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid rgba(160, 0, 0, 0.3);
    border-radius: var(--rds25);
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.4s;
}

.membership-list li a::before {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background: no-repeat 50%;
}

.membership-list li:nth-child(1) a::before {
    background-image: url(../img/membership-icon1.svg);
}
.membership-list li:nth-child(2) a::before {
    background-image: url(../img/membership-icon2.svg);
}
.membership-list li:nth-child(3) a::before {
    background-image: url(../img/membership-icon3.svg);
}
.membership-list li:nth-child(4) a::before {
    background-image: url(../img/membership-icon4.svg);
}

.membership-list li dl::after {
    margin-top: 1rem;
    content: "";
    display: inline-block;
    width: 3.7rem;
    height: 3.7rem;
    background: url(../img/icon-plus.svg) no-repeat 50%;
    filter: invert(0);
    transition: 0.4s;
}

.membership-list li dl dt {
    font-weight: 600;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
}

.membership-list li dl dd {
    font-size: clamp(1.6rem, 2vw, 1.8rem);
}

.membership-list li:hover {
    background: #000;
    color: #fff;
}

.membership-list li:hover dl::after {
    filter: invert(1);
}

.membership-list li:hover a {
    color: #fff;
}

.recruit {
    padding: 7.5rem 0;
}
.recruit-con {
    margin-top: 6rem;
    width: 100%;
    aspect-ratio: 2/1;
    background: url(../img/img-recruit.png) no-repeat 0 0 / cover;
    border-radius: var(--rds50);
    color: #fff;
    position: relative;
    overflow: hidden;
}

.recruit-banner {
    padding: 5rem 8.3333%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(126deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.recruit-banner h3 {
    font-weight: 700;
    font-size: clamp(2.2rem, 4vw, 4.8rem);
}

.recruit-banner strong {
    margin-top: 2rem;
    font-size: clamp(1.6rem, 2.5vw, 2.4rem);
}

.recruit-banner p {
    margin-top: 2rem;
    font-size: clamp(1.6rem, 2vw, 2rem);
    color: var(--white70p);
}

.recruit-banner .btn-big {
    margin-top: 6rem;
}

.recruit-banner .btn-big i {
    display: none;
}

.recruit-list {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.recruit-list li {
    width: 38.7rem;
    width: calc((100% - 2rem * 2) / 3);
    min-height: 20rem;
    /* border: 1px solid #000; */
    padding: 0 3rem;
    border-radius: var(--rds25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.recruit-list li strong {
    position: absolute;
    top: 0%;
    left: 10%;
    font-weight: 500;
    font-size: 2.8rem;
    color: rgba(160, 0, 0, 0.5);
}

.recruit-list li::before {
    content: "";
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background: no-repeat 50%;
    margin-bottom: 1rem;
}

.recruit-list li:nth-child(1):before {
    background-image: url(../img/recruit-icon1.svg);
}
.recruit-list li:nth-child(2):before {
    background-image: url(../img/recruit-icon2.svg);
}
.recruit-list li:nth-child(3):before {
    background-image: url(../img/recruit-icon3.svg);
}
.recruit-list li:nth-child(4):before {
    background-image: url(../img/recruit-icon4.svg);
}
.recruit-list li:nth-child(5):before {
    background-image: url(../img/recruit-icon5.svg);
}
.recruit-list li:nth-child(6):before {
    background-image: url(../img/recruit-icon6.svg);
}

.shorcut-recruit {
    margin-top: 7.5rem;
}

.shorcut-recruit li:nth-child(1) a::before {
    background-image: url(../img/short-icon4.svg);
}
.shorcut-recruit li:nth-child(2) a::before {
    background-image: url(../img/short-icon5.svg);
}
.shorcut-recruit li:nth-child(3) a::before {
    background-image: url(../img/short-icon6.svg);
}
.shorcut-recruit li:nth-child(1) a:hover::before {
    background-image: url(../img/w-short-icon4.svg);
}
.shorcut-recruit li:nth-child(2) a:hover::before {
    background-image: url(../img/w-short-icon5.svg);
}
.shorcut-recruit li:nth-child(3) a:hover::before {
    background-image: url(../img/w-short-icon6.svg);
}

.sns {
    padding: 7.5rem 0 18.5rem;
    /* background: coral; */
}

.sns-slider-wrap {
    margin-top: 4.5rem;
    margin: 4.5rem auto 0;
    /* border: 1px solid #000; */
    padding-bottom: 60px;
    position: relative;
}

.swiper-slide div {
    position: relative;
    aspect-ratio: 1/1;
}

.swiper-slide div figure {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    border-radius: var(--rds25);
    overflow: hidden;
    transition: 0.4s;
}

.swiper-slide i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.4rem;
    color: var(--white70p);
    opacity: 0;
    transition: 0.4s;
}

.swiper-slide div figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.4s;
}

.swiper-slide div:hover figure,
.swiper-slide-active div figure {
    transform: scale(1);
}

.swiper-slide div:hover figure img,
.swiper-slide-active div figure img {
    filter: grayscale(0);
}
.swiper-slide div:hover i,
.swiper-slide-active div i {
    opacity: 1;
}

.swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.5208%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.sns-slider .sw-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 6rem;
    height: 6rem;
    /* border: 1px solid #000; */
    background: rgba(255, 255, 255, 0.6) no-repeat 50%;
    z-index: 1;
    border-radius: var(--rds50p);

    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-slider .sw-btn-prev {
    background-image: url(../img/ooui_previous-ltr.svg);
    left: 3rem;
}
.sns-slider .sw-btn-next {
    background-image: url(../img/ooui_next-rtl.svg);
    right: 3rem;
}

@media screen and (max-width: 1440px) {
    .inner {
        width: 75%;
    }
    .recruit-banner .btn-big {
        margin-top: 6rem;
    }
}

/* 태블릿 디자인 */
@media screen and (max-width: 1200px) {
    .inner {
        width: 93.3333%;
    }

    .visual .video {
        height: 100%;
        aspect-ratio: 1/0.5625;
    }

    .best-list li figure {
        width: 55rem;
        width: 49.1071%;
        aspect-ratio: 1/1.1636;
    }

    .best-list .best-menu {
        width: 48rem;
        width: 42.8571%;
    }
    .shortcut {
        width: 74rem;
        width: 70%;
    }

    .membership-con {
        width: 36.2rem;
        width: 30.1667%;
        aspect-ratio: 1/1.058;
    }
    .membership-list {
        gap: 1.6rem;
    }

    .membership-list li {
        width: 24.2rem;
        width: 48.4%;
        width: calc((100% - 1.6rem) / 2);
        height: 20.7rem;
        aspect-ratio: 1/0.8554;
    }
    .recruit-list li i {
        display: none;
    }
}

/* 추가분기점 */
@media screen and (max-width: 800px) {
    .inner {
        width: 50rem;
        width: 89.2857%;
    }

    .video-title p {
        display: none;
    }

    .best-list li {
        flex-direction: column;
    }

    .best-list li:nth-child(2) {
        flex-direction: column;
    }
    .best-list li figure {
        width: 100%;
        height: 39.6rem;
        aspect-ratio: 1/0.792;
    }
    .best-list .best-menu {
        width: 100%;
    }

    .shortcut {
        width: 60rem;
        width: 80%;
    }
    .membership-con p {
        display: none;
    }
    .membership-con .btn {
        width: 5rem;
        aspect-ratio: 1;
        padding: 0;
        margin-top: 2rem;
    }

    .membership-con .btn i {
        display: none;
    }
    .recruit-banner p {
        display: none;
    }

    .recruit-banner .btn-big {
        margin-top: 2rem;
    }

    .recruit-list {
        gap: 1.6rem;
    }

    .recruit-list li {
        width: 24.2rem;
        width: calc((100% - 1.6rem) / 2);
    }
}
/* 모바일 디자인 */
@media screen and (max-width: 600px) {
    section {
        padding: 5rem 0 !important;
    }
    .title h2 {
        font-size: 4rem;
    }

    .visual .video {
        height: 36rem;
        aspect-ratio: 1/0.6429;
    }

    .shortcut {
        width: 50rem;
        width: 89.2857%;
    }
    .shortcut li {
        width: 14rem;
        width: 25%;
    }

    .membership-banner {
        width: 100%;
        height: initial;
        aspect-ratio: 1/0.7143;
    }

    .membership-con {
        width: 24.5rem;
        width: initial;
        height: 22.7rem;
        aspect-ratio: 1/0.9265;
    }

    .membership-con h3 {
        font-size: 2rem;
        color: #333;
    }

    .membership-con h3 i {
        font-size: 3.2rem;
        color: #000;
    }

    .membership-list {
        gap: 1.6rem;
    }
    .membership-list {
        flex-direction: column;
    }
    .membership-list li {
        width: 100%;
    }
    .membership-list li dl dt {
        font-size: 1.8rem;
    }
    .membership-list li dl dd {
        display: none;
    }

    .recruit-con {
        height: 33rem;
    }

    .recruit-banner {
        aspect-ratio: 1/0.66;
        padding: 4rem 4rem;
    }

    .recruit-banner .btn-big {
        margin-top: 2rem;
        width: 7rem;
        aspect-ratio: 1;
    }
    .recruit-banner .btn-big i {
        font-size: 2.8rem;
    }
    .recruit-banner .btn-big b {
        display: none;
    }
    .top-btn {
        display: none;
    }
}
@media screen and (max-width: 380px) {
    .inner {
        width: 95%;
    }

    .shortcut {
        width: 90%;
    }
    .shortcut li {
        width: 10rem;
        width: 29.2398%;
        text-align: center;
    }

    .recruit-banner strong {
        display: none;
    }
    .recruit-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    .recruit-list {
        flex-direction: column;
    }
    .recruit-list li {
        width: 100%;
    }
    .sns-slider-wrap {
        width: 80%;
    }
    .sns-slider .sw-btn {
        display: none;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        display: none;
    }
}
